venv/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
instance/
pip-log.txt
pip-delete-this-directory.txt
.toast
.lucid
.vscode/
.git/
.gitignore
*.sqlite
*.db
.env
db_migrations/
tests/
docker-compose.yml
render.yaml
run_bank.bat
*.md
