# Flask Config
SECRET_KEY=super-secret-enterprise-key-123
FLASK_APP=run.py
FLASK_DEBUG=1

# Database Configuration
DB_USER=admin
DB_PASSWORD=admin123
DB_HOST=db
DB_PORT=5432
DB_NAME=core_banking
DATABASE_URL=postgresql://admin:admin123@db:5432/core_banking

# Admin Setup
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin123

# JWT Configuration
JWT_SECRET_KEY=jwt-secret-key-123

# Celery / Redis
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/1
