{% extends "base.html" %}
{% block content %}
<h2>New Customer & Account</h2>

<div class="card">
  <form method="post">
    <label>Full Name
      <input name="name" placeholder="e.g. Rahul Sharma" required>
    </label>
    <label>Phone
      <input name="phone" placeholder="10-digit mobile number">
    </label>
    <label>Email
      <input name="email" placeholder="example@bank.com">
    </label>
    <label>Address
      <input name="address" placeholder="City, State">
    </label>
    <label>Account Type
      <select name="account_type">
        <option value="SAVINGS">Savings Account</option>
        <option value="CURRENT">Current Account</option>
      </select>
    </label>
    <label>Opening Balance
      <input name="opening_balance" value="0">
    </label>
    <button type="submit">Create Customer & Account</button>
  </form>
</div>
{% endblock %}
